header {background-color: rgb(168, 13, 5);
color: #fff;
text-align: center;
padding:15px;
position: relative;
}

header img {

    width: 100px 
    height: 100px
    border-radius: 50%;
    position: absolute;
    button: 0;
    left:0; 
    z-index: 1;   
    
}

.capa {
    width: auto; 
    height: auto; 
    z-index: 2;
    margin-top: 1px;
}
.perfil { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 5;
    top: 20px;
    left: 20px;
    z-index: 3;

}

h1 {margin: 0;
position: relative;
z-index: 2;
margin-top: 300px;}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
main{
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(97, 21, 21);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
article { margin-bottom: 20px;
}
h2 { color: #f5ecec}
p{ line-height: 1,6;
color:antiquewhite;}