header {background-color: rgb(168, 13, 5);
color: #fff;
text-align: center;
padding:15px;}

h1 {margin: 0;}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
main{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(97, 21, 21);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
article { margin-bottom: 20px;
}
h2 { color: #f5ecec}
p{ line-height: 1,6;
color:antiquewhite;}